.image-top {
  height: 300px;
  width: 100%;
}

.image-golf {
  height: 200px;
  width: 80%;
  padding-top: 40px;
}

.image-beer {
  height: 200px;
  width: 80%;
  padding-top: 40px;
}

.image-4th {
  height: 200px;
  width: 80%;
  padding-top: 40px;
}

.image-destinations {
  height: 200px;
  width: 80%;
  padding-top: 40px;
}
